In [41]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler, PowerTransformer, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 



url = "C:/Users/Nimrod/Documents/GitHub/2nd_try_iron_repo/week4/Data_Marketing_Customer_Analysis_Round3.csv"

df = pd.read_csv(url)

In [42]:
df_num = df.select_dtypes(include='number')

In [43]:
df_num.head(3)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809,48029,61,7,52,0,9,292
1,2228,92260,64,3,26,0,1,744
2,14947,22139,100,34,31,0,2,480

In [86]:
df_num = df_num.drop_duplicates()

df_num.isna().any()

customer_lifetime_value          False
income                           False
monthly_premium_auto             False
months_since_last_claim          False
months_since_policy_inception    False
number_of_open_complaints        False
number_of_policies               False
total_claim_amount               False
dtype: bool

## Spltting & Scalling

In [96]:
# splitting

X = df_num.drop(['total_claim_amount'], axis=1)
y = df_num[['total_claim_amount']]

In [99]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [100]:
# past split scaling 

scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

## Apply linear regression.

In [101]:
lm = LinearRegression()
model = lm.fit(X_train, y_train)

In [102]:
model.coef_

array([[-180.79796708, -111.099357  , 1352.90069037,   13.97004314,
          -7.18644081,    6.26408628,    4.71566173]])

In [103]:
model.intercept_

array([317.56674038])

## Model Interpretation

In [104]:
y_pred

             0
0     2.141297
1     2.550169
2     2.549142
3     1.326633
4     2.893770
...        ...
2266  7.051793
2267  2.638412
2268  2.862409
2269  2.921376
2270  4.773423

[2271 rows x 1 columns]

In [105]:
y_pred = model.predict(X_test)

y_pred = pd.DataFrame(y_pred)

In [106]:
y_test = y_test.reset_index(drop=True)

r_df = pd.concat([y_test, y_pred], axis=1) 

r_df = r_df.rename(columns={"total_claim_amount": "y_test", 0: "y_pred"})

In [107]:
r_df.isna().sum()

y_test    0
y_pred    0
dtype: int64

In [128]:
r_df['residual'] = r_df['y_test']-r_df['y_pred']
r_df.head()

   y_test      y_pred    residual
0     631  514.793892  116.206108
1     956  495.915276  460.084724
2     271  231.360995   39.639005
3     669  319.174191  349.825809
4     318  350.298236  -32.298236

## Model Interpretation

In [120]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
import numpy as np

In [131]:
RMSE = np.sqrt(mse(y_test, y_pred))
MAE = mae(y_test, y_pred)

print(f'\nModel Interpretation\n{"*"*25}\nMAE:{MAE}\nRMSE: {RMSE}\n')

Model Interpretation
*************************
MAE:163.1006739680857
RMSE: 235.8458033341696