# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [10]:
import pandas as pd 
import numpy as np

# insurence df will be referred to as df 
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

___Identify the dimensions of the dataset by determining the number of rows and columns it contains.___

Shape of the DataFrame:
rows: 4008
columns: 11

In [11]:
# Your code here

df.shape

(4008, 11)

___Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.___

#### Data types in DataFrame

Data types appear under the Dtype column. 
Columns that will need inspection as dtype does not match column title:
 - Customer Lifetime Value
 - Number of Open Complaints

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

___Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.___

Unique values per column

Categorical Columns:
- ST
- Gender 
- Education 
- Number of Open Complaits
- Policy Type
- Vehicle Class

Numerical Columns:
- Customer Lifetime Value
- Income
- Monthly Premium Auto
- Total Claim Amount

-------------------------------------------------------------------------------------------------------------------------
#### _Insights_

_Categorical Columns insights:_


- Different formating of states causes duplication. Should be unified. 
- Same for Gender. Typos and different foramt of the same thing. needs to be unified
- Eduction have multiple bachlors format but also a genreal College category which needs to be clearfied 
- Open Compliants should be cleaned to contain only the middle numerical values.

_Numerical Columns insights:_

- Income shows minimum values = 0 meaning missing information on client
- Monthly Premium Auto shows a segnificant high max value which points that it could be a mistake that skews the data

In [48]:
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [194]:
cat_cols = df[['ST', 'GENDER', 'Education', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']]
num_cols = df[['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Total Claim Amount']]

for k,v in cat_cols.items():
    
    print(f'\n{k}\n')
    print(v.value_counts())

ST

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

GENDER

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

Education

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

Number of Open Complaints

Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

Policy Type

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Vehicle Class

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [82]:
unique_cat_cols = cat_cols.apply(lambda x: x.nunique())

unique_cat_cols.head()

ST                           8
GENDER                       5
Education                    6
Number of Open Complaints    6
Policy Type                  3
dtype: int64

In [76]:
num_cols.describe().T

,count,mean,std,min,25%,50%,75%,max
Income,1071.0,39295.701214,30469.427060,0.000000,14072.000000,36234.000000,64631.0,99960.000000
Monthly Premium Auto,1071.0,193.234360,1601.190369,61.000000,68.000000,83.000000,109.5,35354.000000
Total Claim Amount,1071.0,404.986909,293.027260,0.382107,202.157702,354.729129,532.8,2893.239678

### _Other Insights_

#### Categorical:

- Insurence company oprate on the west coast of the Uinted States. Mostly in California & Oregon 
- No major difference between Female / Male distrabtion
- Most of the clients are private and insuring Four-door cars 
- Majorty of the clients never had any claim made (~30% of the clients made a claim) 

#### Numerical: 

- Income shows minimum values = 0 meaning missing information on client
- Monthly Premium Auto shows a segnificant high max value which points that it could be a mistake that skews the data

In [16]:
# Incomes set as 0 

(df['Income'] == 0).sum()

252

In [59]:
# 2937 missing values possibly unneeded rows

df['Customer'].isna().sum()

2937

In [20]:
df['Number of Open Complaints'].value_counts()

Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

In [44]:
df['Customer Lifetime Value'].isna().sum()

2940

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [105]:
states_df = df['ST']
states_sorted = states_df.value_counts().sort_index()

states_sorted

# for k,v in states_sorted.items():
#     if k.startswith()

ST
AZ             25
Arizona       186
Cali          120
California    211
Nevada         98
Oregon        320
WA             30
Washington     81
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [114]:

policy_sold = df['Policy Type'].value_counts()

policy_sold

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [172]:
# Your code here

personal_auto = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto = df.loc[df['Policy Type'] == 'Corporate Auto']

p_mean = personal_auto['Income'].mean()
c_mean = corporate_auto['Income'].mean()

print(f'Personal Auto Policy mean income: {p_mean:.0f}$\nCorporate Auto Policy mean income: {c_mean:.0f}$')

Personal Auto Policy mean income: 38181$
Corporate Auto Policy mean income: 41390$

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [179]:
# Your code here

total_claims = df['Total Claim Amount']

high_claim_df = df.loc[df['Total Claim Amount'] >= total_claims.quantile(0.75)]

high_claim_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [193]:
for k,v in high_claim_df.items():
    print(f"\n{k}\n")
    print(v.value_counts())

Customer

Customer
QZ44356    1
VO26340    1
KH59823    1
LN50325    1
JF57282    1
          ..
GF65731    1
DP84567    1
ZF84449    1
HG39060    1
MY31220    1
Name: count, Length: 273, dtype: int64

ST

ST
Oregon        93
California    67
Arizona       42
Nevada        29
Cali          21
AZ            11
WA            10
Name: count, dtype: int64

GENDER

GENDER
F         118
M         103
Male       17
female      5
Femal       2
Name: count, dtype: int64

Education

Education
High School or Below    90
Bachelor                86
College                 84
Master                   9
Doctor                   4
Name: count, dtype: int64

Customer Lifetime Value

Customer Lifetime Value
578018.22%     3
477294.38%     3
462680.11%     2
387364.70%     2
598977.39%     2
              ..
2021630.88%    1
372672.80%     1
511068.08%     1
712659.65%     1
899704.02%     1
Name: count, Length: 265, dtype: int64

Income

Income
0.0        123
51066.0      3
20993.0      3
14290.0      2
49088.0      2
          ...
18768.0      1
53690.0      1
34923.0      1
50044.0      1
54230.0      1
Name: count, Length: 142, dtype: int64

Monthly Premium Auto

Monthly Premium Auto
112.0    16
114.0    12
111.0    11
113.0     9
118.0     9
         ..
129.0     1
165.0     1
198.0     1
90.0      1
199.0     1
Name: count, Length: 101, dtype: int64

Number of Open Complaints

Number of Open Complaints
1/0/00    213
1/1/00     30
1/3/00     12
1/2/00     12
1/4/00      4
1/5/00      2
Name: count, dtype: int64

Policy Type

Policy Type
Personal Auto     195
Corporate Auto     65
Special Auto       13
Name: count, dtype: int64

Vehicle Class

Vehicle Class
SUV              105
Four-Door Car     74
Two-Door Car      33
Sports Car        31
Luxury SUV        19
Luxury Car        11
Name: count, dtype: int64

Total Claim Amount

Total Claim Amount
532.800000    9
537.600000    8
547.200000    7
561.600000    4
667.200000    4
             ..
539.843003    1
626.400000    1
799.926741    1
878.400000    1
546.524896    1
Name: count, Length: 207, dtype: int64

In [184]:
high_claim_df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    273.000000            273.000000          273.000000
mean   24106.545788            163.000000          774.005353
std    27542.717560            613.645376          291.304731
min        0.000000             63.000000          532.800000
25%        0.000000             99.000000          595.200000
50%    18846.000000            113.000000          673.342650
75%    44897.000000            133.000000          844.481918
max    99316.000000          10202.000000         2893.239678

In [191]:
# Attempt to slice and clean data

clean_claims = df['Number of Open Complaints'].astype(str)
clean_claims_to_save = clean_claims.map(lambda x: x[2:3])

# for claim in clean_claims:
#     slice_claim = claim[2:3]
    
#     print(slice_claim)
clean_claims_to_save.value_counts()

Number of Open Complaints
n    2937
0     830
1     138
2      50
3      34
4      13
5       6
Name: count, dtype: int64