# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

In [3]:
import pandas as pd 

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

df = pd.read_csv(url)

In [4]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [5]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace(" ", "_")
df.rename(columns={'st': 'state'}, inplace=True)

df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [6]:
# Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".
# Your code here
gender_map = {'Male': 'M',
              'Femal': 'F',
              'female': 'F',
              'Female': 'F'
             }

df['gender'] = df['gender'].replace(gender_map)
df['gender'].value_counts()

gender
F    502
M    452
Name: count, dtype: int64

In [7]:
# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"


state_map = {"Arizona": "AZ",
             "Cali": "CA",
             "California": "CA",
             "Nevada": "NV",
             "Washington": "WA",
             "Oregon": "OR"
            }

df["state"] = df["state"].replace(state_map)

df["state"].value_counts()

state
CA    331
OR    320
AZ    211
WA    111
NV     98
Name: count, dtype: int64

In [8]:
df["education"] = df["education"].replace({"Bachelors": "Bachelor"})

df["education"].value_counts()

education
Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64

In [9]:
# In Customer Lifetime Value, delete the % character

df['customer_lifetime_value'] = df['customer_lifetime_value'].str[:-1]
df['customer_lifetime_value'] = df['customer_lifetime_value'].apply(pd.to_numeric)

In [10]:
df["number_of_open_complaints"] = df["number_of_open_complaints"].str[2:3]

In [11]:
df["number_of_open_complaints"].value_counts()

number_of_open_complaints
0    830
1    138
2     50
3     34
4     13
5      6
Name: count, dtype: int64

In [12]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

car_class_mapping = {"Sports Car": "Luxury",
                     "Luxury SUV": "Luxury",
                     "Luxury Car": "Luxury"
                    }

df["vehicle_class"] = df["vehicle_class"].replace(car_class_mapping)

In [13]:
df["vehicle_class"].value_counts()

vehicle_class
Four-Door Car    576
Two-Door Car     205
SUV              199
Luxury            91
Name: count, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [14]:
# Your code here
# Aleady Done in Excercise 2

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [15]:
df.shape

(4008, 11)

In [16]:
# Your code here
df.isnull().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [17]:
dropped_df = df.dropna(thresh=1)

dropped_df.isnull().any()

customer                     False
state                        False
gender                        True
education                    False
customer_lifetime_value       True
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
dtype: bool

In [18]:
#consider filling by 50/50 distrubtion 

dropped_df['gender'].isnull().sum()

117

In [19]:
dropped_df["customer_lifetime_value"].isnull().sum()

3

In [20]:

dropped_df['customer_lifetime_value'] = dropped_df['customer_lifetime_value'].fillna(dropped_df['customer_lifetime_value'].mean())

dropped_df['customer_lifetime_value'] = dropped_df['customer_lifetime_value'].astype(int)

C:\Users\Nimrod\AppData\Local\Temp\ipykernel_41908\1362593679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_df['customer_lifetime_value'] = dropped_df['customer_lifetime_value'].fillna(dropped_df['customer_lifetime_value'].mean())
C:\Users\Nimrod\AppData\Local\Temp\ipykernel_41908\1362593679.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_df['customer_lifetime_value'] = dropped_df['customer_lifetime_value'].astype(int)

In [21]:
dropped_df.isnull().any()

customer                     False
state                        False
gender                        True
education                    False
customer_lifetime_value      False
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
dtype: bool

In [22]:
dropped_df['gender'].isnull().sum()

117

In [23]:
import numpy as np

gender_random = ['M', 'F']

dropped_df['gender'] = dropped_df['gender'].fillna(np.random.choice(gender_random))

dropped_df.isnull().any()

C:\Users\Nimrod\AppData\Local\Temp\ipykernel_41908\2374223502.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_df['gender'] = dropped_df['gender'].fillna(np.random.choice(gender_random))

customer                     False
state                        False
gender                       False
education                    False
customer_lifetime_value      False
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
dtype: bool

In [24]:
dropped_df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,WA,M,Master,793690,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,AZ,F,Bachelor,697953,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,764586,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323

In [25]:
(dropped_df['income'] == 0).sum()

252

In [26]:
dropped_df['income'].median()

36234.0

In [27]:
# NOT ME - CHATGPT just for fun 
# imputing using ML the missing income values. 


from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor


df_impute = dropped_df.copy()


missing_rows = df_impute['income'] == 0


df_impute = df_impute.dropna(subset=['income'])

numerical_columns = df_impute.select_dtypes(include=['number']).columns

train_data = df_impute[~missing_rows][numerical_columns]
test_data = df_impute[missing_rows][numerical_columns]

X_train = train_data.drop('income', axis=1)
y_train = train_data['income']
X_test = test_data.drop('income', axis=1)

imputer_model = RandomForestRegressor()

imputer_model.fit(X_train, y_train)

imputed_values = imputer_model.predict(X_test)

df_impute.loc[missing_rows, 'income'] = imputed_values

df_impute.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,WA,M,Master,793690,58615.43,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,AZ,F,Bachelor,697953,49128.76,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743,48767.00,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,764586,37349.54,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307,36357.00,68.0,0,Personal Auto,Four-Door Car,17.269323

In [28]:
(df_impute['income'] == 0).sum()

0

In [33]:
print("After Imputing:\n",df_impute['income'].describe(), "\n\nBefore Imputing:\n", dropped_df['income'].describe())

After Imputing:
 count     1071.000000
mean     48689.511849
std      22383.569456
min      10105.000000
25%      30112.720000
50%      44897.000000
75%      64801.000000
max      99960.000000
Name: income, dtype: float64

Before Imputing:
 count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: income, dtype: float64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [35]:
# Your code here

df_impute.duplicated(subset=['customer']).sum()

## Getting no duplicate values on Customer column (starnge) so will leave it without dropping any as it is a unique value col(?)

0

In [ ]:
df_imputeduplicated/

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [31]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [32]:
# Your code here